.section_signup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 150px;
    padding-top: 150px;
}

form {
    width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    background-color: teal;
    border-radius: 15px;
    margin-top: 50px;
    font-size: larger;
    align-items: center;
    gap: 10px;
}

form div {
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
}

input {
    outline: none;
    width: 250px;
    font-size: 20px;
    padding: 5px 15px;
}